[submodule "kurento-application-server"]
	path = kurento-application-server
	url = https://github.com/ismaelvarez/kurento-server.git

[submodule "kurento-orion"]
	path = kurento-orion
	url = https://github.com/ismaelvarez/kurento-orion.git
