[submodule "kurento-application-server"]
	path = kurento-application-server
	url = https://gitlab.gtc.iac.es/ialvarez/kurento-server.git

[submodule "kurento-orion"]
	path = kurento-orion
	url = https://gitlab.gtc.iac.es/ialvarez/kurento-orion.git
